<style>
  body {
    background-color: #00013a;
    background-image: url(../public/images/oform-1.png);
  }

  form {
    border: 3px solid #fff;
    padding: 50px 30px;
    margin-top: 40px;
    border-radius: 25px;
  }

  .addTitle {
    color: #fff;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .formBtn {
    background: #ffc93c;
    color: #444;
  }

  .addInp {
    background: #ffc93c;
    padding: 5px 10px;
    border: none;
    color: #444;
  }

  .titleInfo {
    color: #fff;
  }

  .toBtn {
    background: #ffc93c;
    border: none;
    color: #444;
  }
</style>
<div class="container">
  <h2 class="mb-4 text-center addTitle">Добавить продукт</h2>
  <form action="/admin/add" enctype="multipart/form-data" method="post">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-4 mt-5">
          <input type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="input-group mb-4">
          <input type="number" class="form-control" placeholder="Price" name="price">
        </div>
        <div class="input-group mb-4">
          <input type="text" class="form-control" placeholder="Weight" name="weight">
        </div>
        <div class="input-group mb-5">
          <input type="file" class="form-control" id="inputGroupFile02" name="image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="">
          <button class="addInp btn" type="button" style="margin-top: 0px;margin-bottom: 20px;">Add
            info</button>
          <div class="infoBody">
          </div>
        </div>
      </div>
    </div>
    <div class="btnBox text-center">
      <button class="btn formBtn">Добавить</button>
    </div>
  </form>
</div>