<div class="container">
    <h2 class="text-center mt-4">Вход в сайт</h2>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <form action="/admin/authentication/login" method="POST">
                <div class="input-group mb-5">
                    <input type="text" class="form-control" id="inputGroupFile02" name="email" placeholder="Email">
                </div>
                <div class="input-group mb-5">
                    <input type="password" class="form-control" id="inputGroupFile02" name="password"
                        placeholder="Password">
                </div>
                <button class="btn btn-primary" style="width: 90px; margin: auto;">Войти</button>
            </form>
        </div>
    </div>
</div>